.loader {
  width: 18px;
  height: 18px;
  border: 2.5px solid white;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.login-bg {
  background-image: url('/img/Fondo_Login.png');
  background-size: cover;
  background-position: center;
}


@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}